body {
    min-height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;

}

.task-card {
    transition: all 0.3s ease;
}

.task-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.img-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#imagePreview {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.task-info {
    flex-grow: 1;
    min-width: 0;
}

.task-image {
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    object-fit: cover;
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.btn-group {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.btn-group .btn {
    padding: 6px 12px;
    font-size: 14px;
    transition: all 0.3s ease;
}

@media (max-width: 576px) {
    .todo-container {
        max-width: 95%;
        padding: 1rem;
    }

    .task-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .task-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .btn-group {
        width: 27%;
        justify-content: flex-start;
    }

    .btn-group .btn {
        flex: 1;
    }
}

@media (max-width: 400px) {
    .btn-group .btn {
        width: 100%;
    }
}
